body {
    font-family: monospace;
    color: #eee;
    background-color: #111;
    margin: 40px;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box {
    width: 400px;
    height: 300px;
    float: left;
    padding: 0px 40px 30px 0px;
}
.content-box {
    background-color: #eee;
    color: #111;
    -webkit-text-fill-color: #111;
    height: 300px;
    overflow:hidden;
}
.content-box p {
    padding-left: 12px;
}

.box-label {

    font-size: 120%;
}
.content-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box a {
    padding: 0px;
    margin: 0px;
}
.banner {
    padding-bottom: 25px;
}
.short-menu {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 35px;
}
a {
    margin-left: 10px;
    margin-right: 10px;
    color: #eee;
    -webkit-text-fill-color: #eee;
}
.long-content-box {
    width: auto;
    display: inline-block;
    padding: 0px 40px 30px;
    background-color: #eee;
    color: #111;
    background-color: #eee;
    -webkit-text-fill-color: #111;
    height: auto;
    overflow:hidden;
}
.masonry-box {
    width: 100%;
    max-width: 600px;
    height: auto;
    float: left;
    padding: 0px 40px 30px 0px;
}
.masonry {
    column-count: 4; /* Number of columns */
    column-gap: 0.5rem;
}

.long-content-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 100%) {
    .masonry { column-count: 2; }
}

@media (max-width: 100%) {
    .masonry { column-count: 1; }
}
